body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: gray;
}

header {
    background-color: #ef5842;
}

main {
    background-color: beige;
    display: flex;
    flex-direction: row;
    margin: auto;
}

article {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 100%;
}

aside {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 10px;
    margin-left: 10px;
}

nav {
    background-color: aliceblue;
}

footer, header, main, article, aside, nav {
    padding: 1rem;
    border-radius: 30px;
}

h1 + p {
    color: red;
}

h1 ~ a {
    font-size: 1.2rem;
    text-decoration: none;
}
h1 ~ a:hover {
    color: gray;
}

section > p {
    color: gray !important;
}

.artiklid{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 30vh;
    justify-content: space-between;
}

#teineNav {
    display: flex;
    flex-direction: column;
}
/*
.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 10px;
    margin-left: 10px;
}

main article {
    display: flex;
    flex-direction: row;
    width: 30%;
}

